* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: beige;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 1em;
  flex-wrap: wrap;
}

a{
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
 
  margin-right: 15px;
}

section {
  padding: 2em;
}

.hero-banner{
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
}


.page-section{
  text-align: center;
}
.about{
  background-color: blueviolet;
}

/* .work{
  background-color: aquamarine;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}