* {
  box-sizing: border-box;
}
/* Grid CSS */

#heroGrid {
  margin: 10px 30%;
  display: grid;
  height: 200px;
  grid-template-rows: repeat(4, 1fr); 
  grid-template-columns: 75%;
  grid-template-areas: "about" "skills" "projects" "contact"; 
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-image: url(../images/towerbridge.jpeg);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../images/02-hero-bg.jpg);
  padding: 1em;
  flex-wrap: wrap;
}

a{
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  color:aliceblue; 
  text-align: center;
}

nav ul li {
  margin-right: 25px;
  font-size: 40px;
  color: aliceblue;  
}

section {
  padding: 2em;
  margin-top: 40px;
}

.hero-banner{
  background-size: 40%;
  background-position: center;
  height: 400px;
  margin-bottom: 20px;
}
 
#heroImage {
  border-radius: 50%;
  border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%;
  position: absolute; 
  width: 200px;
  margin-top: -70px;
}

.page-section{
  text-align: center;
}
.about{
  background-image: url(https://img.freepik.com/premium-photo/heart-is-being-examined-by-doctor-stethoscope_131346-6101.jpg);
  text-align: left;
  color: aliceblue;
  margin-top: -400px;
  height: 400px;
  font-size: 20px;
}

.work{
  background-image: url(https://img.freepik.com/free-photo/programming-background-with-person-working-with-codes-computer_23-2150010125.jpg?size=626&ext=jpg&ga=GA1.1.1222169770.1711065600&semt=ais);
  color: aliceblue;
  text-align: left;
  height: 400px;
  font-size: 20px;
  margin-top: -110px; 
}

.projects {
  color:aliceblue; 
  text-align: left;
  font-size: 20px;
  margin-top: 90px;
  height: 400px;
  background-color: url(../images/02-portfolio-2.jpg);
}
 .contact{ 
  background-color: paleturquoise; 
  height: 100px; 
  margin-bottom: 100px; 
  margin-top: 100px; 
}
.footer-content{
color: black; 
text-align: center;
margin-top: 50px;
background-color: beige;
}

h1 {
  font-family: 'Brush Script MT', cursive;
  font-size: 60px;
  color:aliceblue
}

h2 { 
  text-align: left;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  color:aliceblue; 
}

h3 {
  text-align: center;
  font-family: 'Brush Script MT', cursive;
}

h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}