* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

header {
  text-align: center;
  backgroung-color: #f1f1f1;
  padding: 1em;
  background-image: url('f293a97a-f282-4f9f-b7b5-f53035006d9f/image.jpg');

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

section {
  padding: 2em;
}

section img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
